.App1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  padding: 2rem 1rem;
}

.title {
  margin: 0 0 0.25rem;
  font-size: 1.5rem;
}

.subtitle {
  margin: 0 0 2rem;
}

.frame {
  position: relative;
  margin-bottom: 1.5rem;
  padding: 0 10px;
  width: 300px;
  height: 150px;

  .target {
    position: absolute;
    top: calc(50% - 15px);
    width: 30px;
    height: 30px;
    background: #000;
  }

  .target-base {
    opacity: 0.25;
  }
}

button {
  padding: 0.25rem 0.5rem;
  border: 1px solid #000;
  color: #000;
  background: none;
  cursor: pointer;

  &:not(:first-of-type) {
    margin-left: -1px;
  }

  &:hover {
    background: rgba(0, 0, 0, 0.1);
  }

  &:focus {
    outline: none;
  }
}

.inputs {
  display: flex;
  justify-content: space-between;
  margin-top: 0.75rem;

  input[type="range"] {
    position: relative;
    width: 70%;
    background: none;
    -webkit-appearance: none;

    &:focus {
      border: none;
      outline: none;
    }

    &::-moz-range-track {
      height: 1px;
      background: #000;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 17px;
      height: 17px;
      border-radius: 50%;
      background: #000;
      cursor: pointer;
    }

    &::-moz-range-thumb {
      width: 17px;
      height: 17px;
      border: none;
      border-radius: 50%;
      background: #000;
      cursor: pointer;
    }

    &::after {
      content: "";
      position: absolute;
      top: 8px;
      width: 100%;
      height: 1px;
      background: #000;
      cursor: pointer;
    }
  }

  input[type="number"] {
    border: 1px solid #000;
    border-radius: 0;
    width: 20%;

    &:focus {
      outline: none;
    }
  }
}

#foreground1,
#foreground2 {
  z-index: 1;
}

#foreground2,
#background2 {
  transform: translateX(100%);
}

#palm3 {
  top: 0;
  left: 10%;
}

#w_rook_upright {
  top: 30%;
  left: 75%;
}

#r_pawn {
  top: 10%;
  left: 15%;
}

#w_rook {
  top: 10%;
  left: 80%;
}

#r_pawn_upright {
  top: 5%;
  left: 30%;
}

#r_knight {
  top: 0;
  left: 70%;
}

#palm2 {
  top: -15%;
  left: 90%;
}

#palm1 {
  top: -15%;
  left: 40%;
}

#bush {
  top: 55%;
  left: 20%;
}

#red-queen_and_alice {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  width: 80%;
  max-width: 450px; /*height: 783px / 2*/
  z-index: 1;
}

#red-queen_and_alice:before {
  content: " ";
  display: block;
  padding-top: 87%;
}

#red-queen_and_alice img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.sky,
.earth {
  position: absolute;
  left: 0;
  height: 50vh;
  width: 100%;
}

.earth {
  background: #eb125d
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/641/bg_earth.jpg")
    repeat-x 0 0 / 100% auto;
  bottom: 0;
}

.sky {
  background: #246e89
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/641/bg_sky.jpg") repeat-x
    100% 100% / auto 100%;
  top: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
